.about {
  position: relative;
  background-color: $clr-sec;
  display: flex;
  flex-direction: column;
  padding-inline: 2%;

  &__header {
    margin-block: 0.5rem;
    display: flex;
    align-items: center;
    padding-top: 2vh;
    padding-left: 4vw;
    padding-block: 1rem;

    @media screen and (min-width: 768px) {
      padding-block: 0;
    }

    &-title {
      font-size: clamp(2.5rem, 6vw, 6vw);
      font-weight: normal;
      text-transform: uppercase;
    }
  }

  &__content {
    margin-top: clamp(2rem, 8vw, 10rem);
    padding: 1rem;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: $font-pri;

    &-intro {
      display: flex;
      gap: 5vw;

      @media screen and (min-width: 1024px) {
        gap: 20vw;
      }

      &--img {
        width: 40%;

        img {
          width: 100%;
          @media screen and (min-width: 1024px) {
            width: 70%;
          }
        }
      }

      &--main {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }

      &--links {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        a {
          color: $clr-pri;
          text-decoration: underline;
        }
      }
    }

    &-body {
      margin-top: 5vh;
      line-height: 1.5;
      font-size: clamp(1.2rem, 2vw, 3rem);

      @media screen and (min-width: 1024px) {
        width: 60%;
        margin-top: clamp(-15rem, -15vw, -10rem);
        float: right;
      }

      .overflow-text {
        overflow: hidden;
        display: inline-block;
        max-height: 0px;
        transition: all 1s ease-in-out;

        &.show {
          max-height: 500vw;
        }
      }

      .read-more {
        all: unset;
        text-decoration: underline;
        color: $clr-acc;
        cursor: pointer;
      }
    }
  }

  &__nav {
    font-family: $font-pri;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;

    padding-inline: 1rem;
    padding-block: 5rem 2.5rem;
    font-size: clamp(0.8rem, 2vw, 1rem);

    &-links {
      display: flex;
      gap: 1.5rem;
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $clr-pri;
    }

    svg {
      font-size: clamp(0.9rem, 2vw, 1rem);
    }

    ul {
      li {
        font-size: clamp(2.5rem, 5vw, 5vw);
        margin-bottom: -1ch;
        text-transform: uppercase;
      }
    }

    &-copy {
      transform: scale(0.9);
      display: flex;
      gap: 0.5rem;

      .link {
        color: $clr-acc;
      }
    }
  }
}
