.gallery {
  position: relative;
  background-color: $clr-sec;

  .cursor {
    mix-blend-mode: difference;
    z-index: 1000;
    border-radius: 50%;
    // width: 20px;
    // height: 20px;
    background-color: white;
    border: 1px solid black;
    pointer-events: none;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    position: fixed;
    transition: width 0.3s ease-in-out;
    opacity: 0;
  }

  &__image-link-item {
    height: 100%;
    object-fit: contain;
    margin-inline: auto;

    &:hover ~ .cursor {
      // opacity: 1;
      transform: translate(-50%, -50%) scale(5);
    }
  }

  &__content {
    position: relative;
    width: 100vw;
    height: calc(1vh * 100);

    overflow: hidden;
    content-visibility: auto;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    // width: 2110px;
    // height: 1600px;
    width: 110vw;
    height: 110vh;
    top: calc(((1vh * 100) - 110vh) / 2);
    left: calc((100vw - 110vw) / 2);
    content-visibility: auto;
  }

  &__grid-elements {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .element {
      padding: 32px 46px;

      width: calc(10vw * 2.5);
      height: calc(10vh * 4.5);

      @media screen and (max-width: 64rem) {
        padding: 12px 26px;
        width: calc(10vw * 2.5);
        height: calc(10vh * 4);
      }

      @media screen and (max-width: 48rem) {
        padding: 16px 32px;
        width: calc(20vw * 2);
        height: calc(10vh * 4);
      }

      @media screen and (max-width: 32rem) {
        width: calc(20vw * 2.5);
        height: calc(10vh * 3.5);
      }
    }

    .thumbnail-wrapper {
      height: 100%;
      width: 100%;
      position: relative;

      display: flex;
      align-items: center;
    }
  }

  &__list-elements {
    overflow: auto hidden;
    height: calc(1vh * 100);

    display: grid;
    grid-template-columns: repeat(20, 1fr);
    align-items: center;
    padding: 0px 10vmin;

    .element {
      width: 70vmin;
      height: 70vmin;
      margin: 0px 5vw;
    }
  }

  // Header
  .header-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: fixed;
    right: 11%;
    top: 4%;
    z-index: 10;

    @media screen and (min-width: 120rem) {
      top: 4.5%;
    }

    @media screen and (max-width: 48rem) {
      right: 15%;
      top: 3%;
    }

    a {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $clr-pri;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s;
      }

      &:hover {
        &:after {
          transform-origin: bottom left;
          transform: scaleX(1);
        }
      }
    }

    button {
      padding: 0;
      background-color: $clr-sec;
      box-shadow: none;
      border: none;

      display: flex;
      padding: 10px;
      border: 1px solid $clr-pri;
      transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

      svg {
        width: clamp(20px, 2vw, 1vw); 
        height: clamp(20px, 2vw, 1vw); 
      }

      &:hover {
        background-color: $clr-pri;

        svg {
          color: $clr-sec;
        }
      }
    }
  }
}

// Modal
.modal {
  display: flex;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba($color: #000, $alpha: 0.8);
  z-index: 100;

  &__image-container {
    height: 85%;
    margin: auto;
    display: flex;
    align-items: center;

    img {
      width: 80%;
      height: auto;
      object-fit: contain;
    }
  }
}
