.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $clr-pri;
  height: 100vh;
  z-index: 100;
  color: $clr-sec;
  font-size: 3rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  pointer-events: none;
}
